* {
	padding: 0;
	transition: all 300ms ease-in-out;
	box-sizing: border-box;
	position: relative;
}


/*Gant area classes*/
.task-row {
	height: 25px;
	overflow: hidden;
}

.task {
	display: flex;
	align-items: center;
	overflow: hidden;
	flex-wrap: nowrap;

	border-radius: 5px;
	color: white;
	height: 100%;
	padding: 3px;

	background-color: #37AAE0;

	cursor: pointer;
}

.task span {
	flex-shrink: 0;
}
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.modal {
	position: absolute;
	z-index: 100;
	transition: none;
}

.info-box {
	left: 100px;
	top: 100px;
	display: block;
	width: 200px;
	height: 300px;
	padding: 10px;
	background-color: darkgray;
	transition: opacity 100ms ease-in-out;
}

.invisible {
	opacity: 0;
}


/* Edit list classes */

.list-line {
	padding: 5px;
	border-bottom: 1px solid black;
}

.list-input{
	display: block;
	margin-right: 5px;
	height: 100%;
}

.list-input input {
	padding: 5px 10px;
	margin-left: 5px;
}

.one-column {
	min-width: 50px;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}