<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Vue 2nd try</title>
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
	<div class="menu">
		<button onclick="toggleGantt();">toggle view</button>
	</div>
	<div id="vueApp">
		
		<item-li v-if="dynamic.gantt" v-for="(task, index) in data.tasks" :task="task" :index="index" :key="task.uid"></item-li>

		<item-edit v-if="!dynamic.gantt" v-for="(task, index) in data.tasks" :task="task" :index="index" :key="task.uid"></item-edit>
	
		<item-info v-if="dynamic.gantt" :item="dynamic.selected"></item-info>

		<edit-box v-if="dynamic.edit" :task="dynamic.edit"></edit-box>
	</div>
	


<!-- JS files linkings -->

<script src="js-lib/vue.js"></script>
<script src="js-lib/moment.js"></script>
<script src="js/SPPlib.js"></script>
<script src="js/SPPtask.js"></script>
<script src="js/main.js"></script>
<script src="js/init.js"></script>
</body>
</html>